<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='light.css') }}">
    <title>light</title>
    <style>
    .light {
        border-bottom: 700px solid {{ color }};
    }
    .back-btn:hover {
      color: black;
      background-color: {{ color }};
    }
    </style>
  </head>
  <body>
    <div class="container">
        <button class="back-btn" onclick="window.location.href='/'">back</button>
        <img src="{{ url_for('static', filename='image/light.jpg') }}" alt="light.jpg" class="lamp"/>
        <div class="light"></div>
    </div>
  </body>
</html>
