<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='webcam.css') }}">
    <title>webcam image capture and predict</title>
</head>
<body>
    <!-- 웹캠 화면 -->
    <div id="webcam">
        <video id="video" autoplay></video>
        <button id="captureBtn">webcam predict</button>
    </div>

    <!-- 이미지 업로드 -->
    <div id="imageUpload">
        <div class="upload-container">
            <input type="file" id="imageInput"/>
            <button id="uploadBtn">image predict</button>
        </div>
    </div>

<script src="{{ url_for('static', filename='webcam.js') }}"></script>
</body>
</html>
